body {
    background: #efefef !important;
}

button:focus,
button:focus-visible {
    outline: none !important;
}

.w-90 {
    width: 90%;
}

.grid-btn {
    padding: 5px !important;
    min-width: fit-content !important;
    margin: 1px !important;
    cursor: pointer;
}

.w-100 {
    width: 100%;
}

.d-block {
    display: block;
    overflow: hidden;
}

.pull-right {
    float: right !important;
}

.text-danger {
    color: red;
}

.validation-error {
    margin: 0;
}

.logo {
    font-size: 25px !important;
    color: #fff;
    font-weight: bold;
    text-align: left;
    display: block;
}

.user-profile {
    width: 170px;
    float: right;
}

.user-title {
    color: #fff;
    font-size: 14px;
    display: block;
    font-weight: bold;
    margin-right: 15px;
}

.main {
    padding-top: 80px !important;
}

.left-sidebar .MuiDrawer-paper {
    background: #233044 !important;
}

.drawer-header {
    border-bottom: 1px solid #bdbdbd;
    color: #fff !important;
}

.logo-img {
    max-width: 135px;
    margin: 0px auto;
    display: block;
    padding-top: 5px;
}

.left-sidebar .MuiIconButton-root,
.left-sidebar .MuiListItemIcon-root,
.left-sidebar .MuiListItemText-root {
    color: #cfcfcf !important;
}

.left-sidebar .MuiListItem-root:hover {
    background: #1d2633;
}

.left-sidebar .MuiListItem-root:hover .MuiListItemIcon-root,
.left-sidebar .MuiListItem-root:hover .MuiListItemText-root {
    color: #fff !important;
}

.card-header {
    border-bottom: 1px solid #ddd;
}

/**
sidebar
**/

.nav-dropdown {
    width: 100%;
    flex-grow: 0 !important;
    color: #eeeeee !important;
}

.nav-dropdown:hover,
.nav-dropdown.open,
.nav-dropdown-items.open {
    background-color: #1d2633 !important;
    color: #fff !important;
}

.nav-dropdown-items.open {
    border-bottom: 1px solid #a5a5a5 !important;
}

.sidebar-link {
    color: #ddd !important;
    padding: 5px 15px !important;
}

.sidebar-link:hover {
    background: #1d2633 !important;
}

.table-content {
    display: grid;
}

.g-search {
    float: right;
}

.g-search label {
    line-height: 12px;
}

.g-search input {
    padding: 8px 8px;
}

.mt-15 {
    margin-top: 15px;
}
.mt-0 {
    margin-top: 0px !important;
}
.bg-tblue {
    background-color: #d9edf7;
}

.hov-table tr:hover{
    background-color: #eeeeee;
    cursor: pointer;
}